    @import url(reset.css);
    @import url(fonts.css);
    .container {
        width: 710px;
        height: 610px;
        line-height: 600px;
        background-color: rgb(200, 236, 115);
        margin: 0 auto;
        border: 5px solid black;
        justify-content: center;
        position: relative;
    }
    
    .text {
        text-align: center;
        vertical-align: middle;
        font-family: 'Times New Roman', Times, Verdana, Geneva, Tahoma, sans-serif;
        font-size: 70px;
        color: white;
    }
    
    .block__1 {
        width: 100px;
        background: linear-gradient(to top, #93291E, #e7919b);
        display: inline-block;
        margin: 0 -4px 0 0;
    }
    
    .block__2 {
        width: 100px;
        background: linear-gradient(to bottom, #7259ce, #ed21b0);
        display: inline-block;
        margin: 0 -4px 0 0;
    }
    
    .block__3 {
        width: 100px;
        background: linear-gradient(to top, #e7a413, #26e1e7d0);
        display: inline-block;
        margin: 0 -4px 0 0;
    }
    
    .block__4 {
        width: 100px;
        background: linear-gradient(to bottom, #033a10a2, #08cc18);
        display: inline-block;
        margin: 0 -4px 0 0;
    }
    
    .block__5 {
        width: 100px;
        background: linear-gradient(to top, #dbdbb8, #e70b42);
        display: inline-block;
        margin: 0 -4px 0 0;
    }
    
    .block__6 {
        width: 100px;
        background: linear-gradient(to top, #93291E, #e7919b);
        display: inline-block;
        margin: 0 -4px 0 0;
    }
    
    .block__7 {
        width: 100px;
        background: linear-gradient(to bottom, #681108d8, #ed2139c7);
        display: inline-block;
        margin: 0 -4px 0 0;
    }