@import url(reset.css);
@import url(fonts.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: OpenSans-Bold;
}

.container {
    width: 1440px;
    min-height: 900px;
    margin: 20px auto;
    background-color: #FEFEFE;
    border: #B1B1B1 1px solid;
}

.header {
    margin: auto;
    justify-content: center;
    height: 130px;
    position: relative;
}

.header a {
    color: #0d4479;
}

.header a:hover {
    color: #db4711;
}

.logo {
    float: left;
    margin: 15px 10px;
}

.logo img {
    border: 0;
}

.menu {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0 0 0;
    text-align: center;
    vertical-align: auto;
}

.menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    font-family: OpenSans-Bold;
    line-height: 33px;
    color: #131313;
    margin: 0 60px;
}

.menu-link:hover {
    color: #5d0dc5;
    text-decoration: underline;
}

.menu-active {
    color: #2785F7;
}


/*Main*/

.wrapper-main {
    width: 1404px;
    height: 726px;
    margin: 0 auto;
    border: #B1B1B1 1px solid;
    text-align: center;
    border-radius: 30px;
    background: #EAEBED;
}

.side-bar {
    width: 105px;
    height: 420px;
    margin: 171px 30px 135px 23px;
    background-color: #FEFEFE;
    border: #FEFEFE 1px solid;
    border-radius: 30px;
    float: left;
}

.side-bar-nav {
    width: 65px;
    height: 350px;
    margin: 35px 20px 35px 20px;
    display: flex;
    flex-direction: column;
}

.side-bar-nav a {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    box-sizing: border-box;
    transition-property: background-color, transform, border-radius, box-shadow;
}

.side-bar-nav a:hover {
    cursor: pointer;
    background: #2785F7;
    border-radius: 15px;
}

.side-bar-nav img {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border: 0;
}

.block-1 {
    width: 1212px;
    height: 130px;
    margin: 80px 0 34px 0;
    display: flex;
    align-items: flex-start;
}

.box-1 {
    width: 592px;
    height: 130px;
    background-color: #FEFEFE;
    margin: 0 auto;
    border: #FEFEFE 1px solid;
    border-radius: 30px;
}

.box-1-text {
    width: 129px;
    height: 66px;
    margin: 32px 0 32px 42px;
    text-align: left;
    vertical-align: middle;
}

.box-2 {
    width: 583px;
    height: 130px;
    margin: 0 0 0 37px;
    background-color: #FEFEFE;
    border: #FEFEFE 1px solid;
    border-radius: 30px;
}

.box-2-text {
    width: 277px;
    height: 66px;
    margin: 32px 0 32px 42px;
    text-align: left;
    vertical-align: middle;
}

.text {
    width: 232px;
    height: 64px;
    margin: 0 auto;
}

.text-1 {
    font-size: 18px;
    line-height: 1.5;
    padding: 10px 0 0 0;
    font-style: normal;
    font-weight: bold;
    color: #B1B1B1;
}

.text-2 {
    font-size: 24px;
    padding: 10px 0 0 0;
    font-style: normal;
    font-weight: bold;
}

.text-3 {
    font-size: 18px;
    line-height: 1.5;
    padding: 30px 0 0 0;
    font-style: normal;
    font-weight: bold;
    color: #B1B1B1;
}

.block-2 {
    width: 732px;
    height: 410px;
    margin: 0 33px 0 0;
    display: flex;
    flex-direction: column;
    float: left;
}

.box-3 {
    width: 732px;
    height: 194px;
    margin: 0 auto;
    background-color: #FEFEFE;
    border: #FEFEFE 1px solid;
    border-radius: 30px;
    display: flex;
}

.box-3-text {
    width: 624px;
    height: 126px;
    margin: 34px 66px 34px 42px;
    text-align: left;
    vertical-align: middle;
}

.box-4 {
    width: 732px;
    height: 194px;
    margin: 22px 0 0 0;
    background-color: #FEFEFE;
    border: #FEFEFE 1px solid;
    border-radius: 30px;
    display: flex;
}

.team a {
    width: 120px;
    height: 138px;
    margin: 0 auto;
    float: left;
}

.team {
    width: 120px;
    height: 138px;
    margin: 28px 0 28px 42px;
    float: left;
}

.team img {
    margin: 0 auto;
    border: 0;
}

.box-4-text {
    width: 495px;
    height: 97px;
    margin: 34px 26px 63px 49px;
    text-align: left;
    vertical-align: middle;
}

.block-3 {
    width: 447px;
    height: 410px;
    display: flex;
    flex-direction: column;
}

.box-5 {
    width: 447px;
    height: 410px;
    margin: 0 auto;
    background-color: #FEFEFE;
    border: #FEFEFE 1px solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.data a {
    width: 120px;
    height: 115px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.data {
    width: 120px;
    height: 115px;
    margin: 34px 0 24px 42px;
    display: flex;
    flex-direction: column;
}

.data img {
    margin: 0 auto;
    border: 0;
}

.box-5-text {
    width: 366px;
    height: 198px;
    margin: 0 39px 38px 42px;
    text-align: left;
    vertical-align: middle;
}


/*Team*/

.wrapper-team {
    width: 1366px;
    height: 742px;
    margin: 0 auto;
    border: #B1B1B1 1px solid;
    text-align: center;
    border-radius: 41px;
    background: #EAEBED;
}

.group-1 {
    width: 1297px;
    height: 325px;
    margin: 50px 0 0 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-1-card {
    width: 292px;
    height: 325px;
    background: #FFFFFF;
    border-radius: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    transition-property: background-color, color;
}

.group-1-card:hover {
    cursor: pointer;
    background: #2785F7;
    color: #fff;
}

.group-2 {
    width: 1297px;
    height: 278px;
    margin: 40px 0 0 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-2-card {
    width: 292px;
    height: 278px;
    background: #FFFFFF;
    border-radius: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    transition-property: background-color, color;
}

.group-2-card:hover {
    cursor: pointer;
    background: #2785F7;
    color: #fff;
}

.card {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.card a {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.card img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50px;
}


/*Lessons*/

.wrapper-lessons {
    width: 1366px;
    height: 742px;
    margin: 0 auto;
    border: #B1B1B1 1px solid;
    text-align: center;
    border-radius: 41px;
    background: #EAEBED;
}

.lessons-header {
    width: 852px;
    height: 40px;
    margin: 138px 0 0 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-line {
    width: 138px;
    height: 40px;
    font-size: 24px;
    padding: 0 auto;
    margin: 0 auto;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lessons-table {
    width: 852px;
    height: 40px;
    margin: 45px 0 0 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    transition-property: background-color, transform, border-radius, box-shadow;
}

.lessons-table:hover {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background: #FFFFFF;
    border-radius: 21px;
}

.table-line {
    width: 138px;
    height: 40px;
    padding: 0 auto;
    margin: 0 auto;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-line {
    width: 138px;
    height: 40px;
    padding: 0 auto;
    margin: 0 auto;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-line a {
    width: 35px;
    height: 35px;
    border: #B1B1B1 1px solid;
    background: #FFFFFF;
    border-radius: 11px;
    margin: 0 auto;
    transition-property: background-color, transform, border-radius, box-shadow;
}

.table-line a:hover {
    cursor: pointer;
    background: #2785F7;
}